<div class="card col-3" style="width: 20rem;">
<% @users.each do |user| %>
    <div class="card col-3" style="width: 20 rem;">
      <div  style="width: 20rem;">
        <div class="column g-0 d-flex m-3">
          <div class=" float-start">
            <img src="https://i.pinimg.com/originals/9f/7f/87/9f7f876e7fbd24a6cf76e51b8c1109f5.jpg" class="round-img" alt="tvit-img">
          </div>
          <div class="col-md-8 ms-2">
            <div class="card-body">
              <h5 class="card-title"><%= user.name %></h5> 
              <p class="card-text"><small class="text-muted"><%= user.username %></small></p>           
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>

