<div class="container mt-5">
     <div class="float-start">
        <%= render 'tvits/trends'%>
      </div>
      <div class="float-start">
        <%= render 'tvits/profile'%>
      </div>
     
     <div class="float-center">
        <%= render 'tvits/feed'%>
      </div>
      <div class="float-end me-5">
        <%= render 'follow' %>
        </div>
</div>
