<div class="d-flex justify-content-around m-5">
  <%= render 'tvits/trends' %>
  <% if user_signed_in?%>
  <%= render 'tvits/profile' %> 
  <% end %>
  <%= render 'tvits/feed' %>
  <%= render 'tvits/follow' %>  
</div>


