<div class="container col-3 m-auto mt-5">

<p id="notice"><%= notice %></p>

<p class="my-5">
  <strong>Tvit:</strong>
  <%= @tvit.tvit %>
</p>

<%= link_to 'Edit', edit_tvit_path(@tvit) %> |
<%= link_to 'Back', tvits_path %>
</div>
