
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid mx-5 my-2">
    <%= link_to 'Tviter', root_path, class:"fs-4 fw-bold navbar-brand text-white mx-3" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <%= nav_links %>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-success text-white bg-light mx-3" type="submit"><%= link_to "New tvit",new_tvit_path, class: "text-info" %></button>
      </form>
    </div>
  </div>
</nav>