 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item mx-sm-3 mx-lg-5">
    <%= link_to 'Log In', new_user_session_path, class: "fw-bold nav-link active text-white" %>
  </li>
  <li class="nav-item mx-3">
    <%= link_to 'Sign Up', new_user_registration_path, class: "fw-bold nav-link active text-white" %>
  </li>
</ul>